@use '@sass/colors.scss' as *;
@use '@sass/fonts.scss' as *;

.heroBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6rem);
  background: url('../../_assets/pictures/personal/roshniHeroRight.webp');
  background-position: right 30%;
  background-size: cover;
  margin-bottom: 3rem;

  //make background darker
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  &__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $sourceSans;
    margin: 2rem 0;
  }

  &__signature {
    position: relative;
    height: 7rem;
    aspect-ratio: 4/1;
    max-width: 90vw;

    img {
      filter: drop-shadow(2px 2px 3px #6c3f23);
    }
  }

  &__title {
    color: white;

    max-width: 30;
    text-align: center;
    filter: drop-shadow(1px 1px 5px #6c3f23);
    margin-bottom: 3rem;

    h1 {
      font-size: 1.75rem;
      padding-bottom: 1rem;
    }

    h2 {
      font-size: 1.25rem;
      color: lightgreen;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    margin: 0 auto;
    width: fit-content;
  }

  &__button-section {
    display: flex;
    width: fit-content;
    gap: 1rem;
  }
}

@media (width < 1100px) {
  .heroBanner {
    height: 80vh;
    align-items: center;

    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }

    &__signature {
      position: relative;
      height: 3.5rem;
      aspect-ratio: 4/1;
      max-width: 90vw;
    }

    &__title {
      margin-bottom: 2rem;

      h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
      }

      h2 {
        font-size: 1.2rem;
      }
    }
  }
}

@media (width < 1100px) {
  .heroBanner {
    &__content {
      height: 90%;
      justify-content: space-between;
    }

    &__text {
      padding: 0 1rem;
    }
  }
}

@media (width < 450px) {
  .heroBanner {
    background-position-x: 75%;
  }
}

// @media (900px < width) and (width < 1300px) {
//   .heroBanner {
//     &__content {
//       left: 10%;
//     }
//   }
// }
