.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legalTextTitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 1450px) {
  .legalText p,
  .legalText h1,
  .legalText h2,
  .legalText ul,
  .legalText li,
  .legalText a {
    padding: 1rem;
    text-align: center;
    list-style: none;
  }
}
