@use '@sass/colors.scss' as *;
@use '@sass/fonts.scss' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color-dark;
  color: white;
  font-family: $playfairDisplay;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $main-color-dark-hover;
  }

  &-secondary {
    background-color: transparent;
    border: 1.5px solid white;
    color: white;

    &:hover {
      background-color: white;
      color: $main-color-dark;
    }
  }
}

@media (max-width: 450px) {
  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
