@use '@sass/colors.scss' as *;

.headline {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 3rem;

  &__title {
    color: $main-color-dark;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1400px) {
  .headline {
    padding: 0 1rem;
    margin-bottom: 2rem;

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1rem;
    }
  }
}
