@use '@sass/colors.scss' as *;

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  &__icon {
    display: flex;
    align-self: anchor-center;
    svg {
      max-width: 2.3rem;
      transition: all 0.3s ease-in-out;
      filter: invert(1);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (width < 1100px) {
  .socialIcons {
    gap: 1rem;
    &__icon {
      padding: 0.5rem;

      svg {
        fill: white;
        filter: none;
      }
    }
  }
}
