.contact-form {
  

  &__button-loader {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  &__button-email-sent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    transition: all 0.3s ease-in-out;

    .check {
      filter: invert(1);
    }
  }

  &__email-error {
    color: red;
    margin-top: 0.5rem;
  }

  &__privacy {
    width: 90%;
    padding: 2rem 0rem;
    font-size: 0.75rem;
    color: #ccc;
  }

  &__addresses{
    display: flex;
    gap: 2rem;

    &-title{

      margin-bottom: 2rem;

    }

    &-clinic{
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      line-height: auto;
    }

    address{
      display: flex;
      flex-direction: column;
      padding-bottom: 3rem;
    }

    span{
      display: block;
      padding: 0.25rem 0;

      a{
        color: rgba(108, 141, 84, 1);
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
